<div class="container m-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Open</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let event of events | status: 'Open'">
              {{event.name}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">In Progress</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let event of events | status: 'InProgress'">
              {{event.name}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Completed</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let event of events | status: 'Completed'">
              {{event.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
