table{
  width: 100%;
}

button {
  margin: 8px;
}


.mat-header-row{
  background-color: #f8f9fa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.mat-container.mat-elevation-z8 {
  overflow-x: auto;
}
.mat-container .mat-table.mat-table {
  min-width: 450px;
}
